<!DOCTYPE html>
<html>
<head>
  <title>St routes</title>
  <%= stylesheet_link_tag    "st_routes/application", media: "all" %>
  <%= javascript_include_tag "st_routes/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
